@(message: String)

@main("Welcome to Play") {

<div class="questions">
  <img id='ribbon' src="@routes.Assets.at("/images/ribbon.png")" /> 
  <img id="logo" src="@routes.Assets.at("/images/logocroixbite.png")"/>
  <img id="badge" src="@routes.Assets.at("/images/badge.png")" width="300px;">
  <h2>In the name of the Father, and of the Son, and of the Holy Spirit. Amen.</h2>
  <div class="content">

    <h3 id="question" data-uuid=""></h3>
    <a data-val="YES" class="btn">Yes</a>
    <a data-val="NO" class="btn">No</a>
    <a data-val="NC" class="btn maybe">Not sure</a>
  </div>
</div>
<ul id="sins">
</ul>
<p id="penitence">
</p>

}
